<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
</div>

<div class="form-group">
  <%= f.label :email, "Email Address" %>
  <%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
</div>

<div class="form-group">
  <%= f.label :street, "Address" %>
  <%= f.text_field :street, class: "form-control" %>
</div>

<div class='form-group'>
  <%= f.text_field :street_two, class: "form-control" %>
</div>

<div class='row'>
  <div class='col-lg-4'>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control", placeholder: "City" %>
    </div>
  </div>
  <div class='col-lg-4'>
    <div class="form-group">
      <%= f.label :state %>
      <%= f.select :state, State.all, {}, {class: "form-control"} %>
    </div>
  </div>
  <div class='col-lg-4'>
    <div class="form-group">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, class: "form-control", placeholder: "Postal Code" %>
    </div>
  </div>
</div>